.jay_photo {

}

.background-image {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

html, body {
    height: 100%;
    margin: 0;
}

.full-height {
    height: 100%;
}

.flex {
    display: flex;
}

.full {
    height: 100%;
    width: 100%;
}

.responsive {
    width: 100%;
    height: auto;
}

.name {
    font-weight: bold;
}

.name:after {
    content: '  —';
}

.name:before {
    content: '—  ';
}

body {
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
}

#navbar {
    overflow: hidden;
}

#navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    font-size: 17px;
    background-color: rgba(0, 0, 0, 0.23);
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
    cursor: default;
}

#navbar a.active {
    background-color: #04AA6D;
    color: white;
}

.content {
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.sticky {
    position: fixed;
    bottom: 0;
    right: 2rem;
    width: 3rem;
}

.sticky + .content {
    padding-top: 60px;
}

.introImg {
    border-radius: 20%;
    width: 100%;
    height: auto;
    max-width: 400px;
    margin-left: 25%;
    margin-top: 25%;
}


#intro_1 {
    font-size: 2rem;
    margin-top: 20%;
    color: white;
}

#intro_2 {
    font-size: 2rem;
    color: white;
    font-weight: bold;
}

#intro_2:before {
    content: '— ';
}

#intro_2:after {
    content: ' —';
}

#intro_3 {
    font-size: 2rem;
    color: white;
}

.sessionHeader {
    font-size: 3rem;
    font-weight: bolder;
}

.sessionHeader:before {
    content: '— ';
}

.sessionHeader:after {
    content: ' —';
}

@media screen and (max-width: 600px) {
    .flex {
        display: block;
    }

    .introImg {
        border-radius: 19%;
        width: 49%;
        height: auto;
        max-width: 399px;
        margin-left: 24%;
        margin-top: 24%;
    }

    #intro_1 {
        font-size: 1rem;
        color: white;
    }

    #intro_2 {
        font-size: 1rem;
        color: white;
        font-weight: bold;
    }

    #intro_3 {
        font-size: 1rem;
        color: white;
    }

    .content {
        line-height: 1rem;
    }
}
